*{
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One', sans-serif;
}
body{
    
    background-image: linear-gradient(rgba(4,9,30,.95),rgba(4,9,30,0.7)),url(imgs/ByxinFJCYAA-v6X.jpg);
    background-size: cover;
    font-size: 14px;
}

.container{
    width: 80%;
    margin: 50px auto;
    
}
.form{
    border-radius: 2em;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    border: 1px solid #fff;
    width: 35%;
    margin: auto;
    flex-basis: 60%;
    padding: 44px 60px;
    border-radius: 2em;
    box-shadow: 0 0 63px 5px rgba(88, 27, 253, 4.4);
}
h1{
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 10px;
    opacity: 65%;
}
input:hover{
    box-shadow: 0 0 63px 5px rgba(27, 256, 204, 4.4);
}
textarea:hover{
    box-shadow: 0 0 63px 5px rgba(88, 27, 253, 4.4);
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none ;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: bold;    
    border-radius: 10px;
    opacity: 65%;
}
label{
    padding: 6px;
    display: block;
    color: #edecf1;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
button{
    background: #c2bddb;
    width: 100px;
    border: none;
    outline: none;
    color: rgb(22, 10, 10);
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
button:hover{
    box-shadow: 0 0 63px 5px rgba(88, 27, 253, 4.4);
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    color: #fff;
    font-family: 'Dancing Script', cursive;

}

.foo-bottom{
    padding: 5px 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.foo-bottom p{
    font-size: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: azure;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.foo-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
